Imports

In [1]:
import numpy as np
import pandas as pd

Set a random seed and creat a synthetic dataset (of 20,000) with the features provided in the project description.

In [3]:
np.random.seed(42)
n_records = 20000

#Gernerate data for each feature
data = {
    "Age": np.random.randint(18,65,size=n_records),
    "Gender": np.random.choice(["Male","Female"],size=n_records),
    "Marital_Status": np.random.choice(["Single","Married","Divorced"], size=n_records),
    "Education_Level": np.random.choice(["High School", "Bachelor","Master","PhD"], size=n_records),
    "Job_Role": np.random.choice(["Sales Executive", "Research Scientist", "Manager"], size=n_records),
    "Department": np.random.choice(["Sales","Marketing","HR","IT"], size=n_records),

    "Job_Satisfaction": np.random.randint(1,6, size=n_records),
    "Work_Life_Balance": np.random.randint(1,6,size=n_records),
    "Number_Of_Companies_Worked": np.random.randint(1,10, size=n_records),
    "Distance_From_Home": np.random.uniform(1,50, size=n_records).round(2),
    "Overtime": np.random.choice(["Yes","No"],size=n_records),
    "Job_Involvement":np.random.randint(1,6, size=n_records),

    "Salary": np.random.uniform(30000, 150000, size=n_records),
    "Hourly_Rate": np.random.uniform(15,100, size=n_records).round(2),
    "Stock_Option_Level": np.random.randint(0,5, size=n_records),
    "Bonuses": np.random.choice(["Yes","No"], size=n_records),

    "Years_At_Company": np.random.randint(0,40, size=n_records),
    "Training_Times_Last_Year": np.random.randint(0,10,size=n_records),
    "Job_Level": np.random.randint(1,6, size=n_records),
    "Employee_Recognition": np.random.choice(["Yes", "No"], size=n_records),

    "Performance_Rating": np.random.randint(1,6, size=n_records),
    "Absenteeism": np.random.randint(0,20, size=n_records),
}

In [4]:
#Creat the DataFram
df = pd.DataFrame(data)

#Generate the target variables with calss imbalance of 10% attrition rate
df["Attrition"] = np.where(np.random.rand(n_records) < 0.1,1,0)

#Display the first few rows
df.head()

,Age,Gender,Marital_Status,Education_Level,Job_Role,Department,Job_Satisfaction,Work_Life_Balance,Number_Of_Companies_Worked,Distance_From_Home,...,Hourly_Rate,Stock_Option_Level,Bonuses,Years_At_Company,Training_Times_Last_Year,Job_Level,Employee_Recognition,Performance_Rating,Absenteeism,Attrition
0,56,Male,Married,Master,Research Scientist,IT,2,3,3,24.32,...,37.95,4,Yes,31,1,2,No,3,12,0
1,46,Male,Divorced,Master,Manager,HR,4,2,1,26.74,...,52.35,2,Yes,28,4,2,Yes,1,17,0
2,32,Male,Married,Master,Manager,IT,2,2,8,22.91,...,37.21,1,Yes,25,1,1,Yes,3,2,0
3,60,Female,Divorced,Master,Sales Executive,Sales,4,1,7,39.29,...,93.75,0,No,28,2,2,Yes,5,9,0
4,25,Male,Divorced,Bachelor,Sales Executive,HR,1,4,3,31.32,...,27.63,3,Yes,9,3,3,No,1,14,0